<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <title>Main page</title>

</head>
<body>

    <div class="container">
        <br/>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" ui-sref="main"> Main Objet </a>
                <div class="nav">
                    <a ui-sref="route1"> Route1 </a>
                    <a ui-sref="route2"> Route2 </a>
                </div>
            </div>
        </div>

        <div class="row">
            <div ui-view> </div>
        </div>
    </div>


<!-- scrip inject start-->

    <!-- angular 1.5.7 inject -->
    <script src="bower_components/angular/angular.min.js"> </script>
    <!-- angular ui-router inject -->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"> </script>
    <!-- angular module -->
    <script src="controller/main.controller.js"> </script>
    <script src="controller/main.module.js"> </script>

</body>
</html>
