// out: ../../public/styles/style.css, sourcemap: false, compress: true

@import "layout.less";
@import "route1.less";

html {
    width: 1280px;
}

.title {
    padding-left: 20px;
}

#route1 > a, #route2 > a {
    margin-left: 20px;
}

.main_img {
    margin: 160px 0 0 300px;
    display: inline-block;
}
