<section id="chat" ng-init="getChat()">
    <h1 class="title"> Chat </h1>
    <form class="form-inline" ng-submit="createChat()" method="post">
        <input class="inputbox form-control" type="text" ng-model="name" placeholder="이름"/>
        <input class="inputbox form-control" type="text" ng-model="content" placeholder="내용"/>
        <button class="btn btn-primary btn-sm"> 보내기 </button>
    </form>

    <uib-pagination id="pagenation" total-items="totalCnt" ng-model="page" max-size="5" ng-change="getChat()" items-per-page="20"></uib-pagination>

    <div class="horizontal-scroll">
        <table class="table" id="chatbox">
            <thead>
                <tr>
                    <th> 이름 </th>
                    <th> 대화 내용 </th>
                    <th> 시간 </th>
                    <!-- <th> </th> -->
                </tr>
            </thead>
            <tbody ng-repeat="chat in chats">
                <tr>
                    <td> {{chat.name}} </td>
                    <td> {{chat.content}} </td>
                    <td> {{chat.time}} </td>
                    <!-- <td> <button class="btn btn-danger btn-xs" ng-click="deleteChat(chat)"> del </button> </td> -->
                </tr>
            </tbody>
        </table>
    </div>

</section>
