<section id="chat">
    <h3> Chat </h3>
    <form ng-submit="getChat()" method="post">
        이름: <input type="text" ng-model="name" placeholder="이름"/>
        내용: <input type="text" ng-model="content" placeholder="내용"/>
        <button class="btn btn-primary btn-xs"> 찾기 </button>
    </form>

    <uib-pagination total-items="totalCnt" ng-model="page" max-size="5" ng-change="getTrucks()" items-per-page="20"></uib-pagination>

    <div class="horizontal-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th> 이름 </th>
                    <th> 대화 내용 </th>
                    <th> 시간 </th>
                </tr>
            </thead>
            <tbody ng-repeat="chat in chats">
                <tr>
                    <td> <input type="hidden" ng-model="chatId" value="{{chat.id}}"/> </td>
                    <td> {{chat.name}} </td>
                    <td> {{chat.content}} </td>
                    <td> {{chat.createdAt}} </td>
                    <td> <a class="btn btn-danger btn-xs" ng-click="deleteChat()"> delete </a> </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
