<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="fonts" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link rel="icon" href="/rsc/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/rsc/img/favicon.ico" type="image/x-icon">

    <title>Main page</title>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_dropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" ui-sref="main">Main</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar_dropdown">
            <ul class="nav navbar-nav">
                <li><a ui-sref="profile">Profile</a></li>
                <li><a ui-sref="route2">Route 2</a></li>
                <li><a ui-sref="chat">Chat</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="main_container">
    <div ui-view></div>
</div>

<!-- jQuery 3.1.0.min.js // for bootstrap.min.js -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<!-- bootstrap javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- angular 1.5.7 / ui-router / toastr / animation / boostrap -->
<script src="angular/angular.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- angular module -->
<script src="controller/modules/main.module.js"></script>
<script src="controller/modules/route.module.js"></script>

<!-- angular api  -->
<!--<script scr="controller/api/chat.server.controller.js"></script>-->
<!--<script scr="controller/api/profile.server.controller.js"></script>-->
<!--<script scr="controller/api/route2.server.controller.js"></script>-->

<!-- angular client controller -->
<script src="controller/client/chat.client.controller.js"></script>
<script src="controller/client/profile.client.controller.js"></script>
<script src="controller/client/route2.client.controller.js"></script>


</body>
</html>
