<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="fonts" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" />
    <link rel="icon" href="/rsc/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/rsc/img/favicon.ico" type="image/x-icon">

    <title>Main page</title>
</head>
<body ng-controller="core">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_dropdown">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" ui-sref="main">Main</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar_dropdown">
            <ul class="nav navbar-nav">
                <li><a ui-sref="profile">Profile</a></li>
                <li><a ui-sref="route2">Route 2</a></li>
                <li><a ui-sref="chat">Chat</a></li>

                <!-- dropdown menu -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="login" ng-hide="isLoggedIn()">Log in</a></li>
                <li><a ng-click="logOut()" ng-show="isLoggedIn()">Log out</a></li>
                <!-- <li><a ui-sref="signup">Sign Up</a></li> -->
            </ul>
        </div>
    </div>
</nav>


<div class="main_container">
    <div ui-view></div>
</div>

<!-- jQuery 3.1.0.min.js // for bootstrap.min.js -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

<!-- bootstrap javascript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- angular 1.5.7 / ui-router / toastr / animation / boostrap -->
<script src="angular/angular.js"></script>
<script src="angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- angular module -->
<script src="controller/modules/main.module.js"></script>
<script src="controller/modules/route.module.js"></script>

<!-- angular config -->
<script src="controller/modules/config/user.authenticate.config.js"></script>

<!-- angular client controller -->
<script src="controller/client/chat.client.controller.js"></script>
<script src="controller/client/profile.client.controller.js"></script>
<script src="controller/client/route2.client.controller.js"></script>
<script src="controller/client/user.client.controller.js"></script>
<script src="controller/client/core.client.controller.js"></script>

</body>
</html>
