<section id="login" class="login">
    <form class="form-inline" method="post" ng-submit="login()">
        <div class="login_container">
            <p>이메일로 로그인</p>
            <ul class="login_form list-unstyled">
                <li> <input class="inputbox form-control" type="text" ng-model="userEmail" placeholder="example@star.com" /> </li>
                <li> <input class="inputbox form-control" type="password" ng-model="password" placeholder="비밀번호 (6자 이상)"/> </li>
            </ul>
            <div class="login_btn_span">
                <button class="btn login_btn"> Log In </button>
            </div>
        </div>
    </form>
</section>
