<section id="login" class="login">
    <div class="login_form">
        <form class="form-inline" method="post" ng-submit="login()">
            <div class="login">
                <ul class="login_form">
                    <li> ID:       <input class="inputbox form-control" type="text" ng-model="userid" /> </li>
                    <li> PASSWORD: <input class="inputbox form-control" type="text" ng-model="password" /> </li>
                </ul>
                <div class="login_btn_span">
                    <button class="btn login_btn"> Log In </button>
                </div>
            </div>
        </form>
    </div>
</section>
