<div class="well" ng-init="getProfile()">
    <h4> Stack list</h4>

    <form class="form-inline" ng-submit="createStack()" method="post">
        <input class="inputbox form-control" type="text" placeholder="skill" ng-model="skill" />
        <input class="inputbox form-control" type="text" placeholder="type" ng-model="type" />
        <input class="inputbox form-control" type="text" placeholder="description" ng-model="description" />
        <input class="inputbox form-control" type="text" placeholder="mastery" ng-model="mastery" />
        <button class="btn btn-primary btn-sm"> 등록 </button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th> Skill </th>
                <th> type </th>
                <th> Description </th>
                <th> Mastery </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td> {{item.skill}} </td>
                <td> {{item.type}} </td>
                <td> {{item.description}} </td>
                <td id="center"> {{item.mastery}}% </td>
            </tr>
        </tbody>
    </table>

</div>
