<div class="well" ng-init="getProfile()">
    <h4 style="display:inline-block;"> Stack list</h4>
    <button class="btn btn-warning btn-xs add-stack"> 추가 </button>
    <form class="form-inline stack-form appear" ng-submit="createStack()" method="post">
        <input class="inputbox form-control" type="text" placeholder="skill" ng-model="skill" />
        <input class="inputbox form-control" type="text" placeholder="type" ng-model="type" />
        <input class="inputbox form-control" type="text" placeholder="description" ng-model="description" />
        <input class="inputbox form-control" type="text" placeholder="mastery" ng-model="mastery" />
        <button class="btn btn-primary btn-sm"> 등록 </button>
    </form>

    <table class="table stack_list">
        <thead>
            <tr>
                <th> Skill </th>
                <th> type </th>
                <th> Description </th>
                <th> Mastery </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td> {{item.skill}} </td>
                <td> {{item.type}} </td>
                <td> {{item.description}} </td>
                <td class="center_"> {{item.mastery}}% </td>
            </tr>
        </tbody>
    </table>

</div>

<script>
    $('.add-stack').click(function(){
        $('.stack-form').toggleClass('appear');
    });
</script>
