<section id="profile">
    <h1 class="title">Profile</h1>
    <hr/>
    <a ui-sref="profile">Summary</a>
    <a ui-sref=".stack">Show Stack</a>
    <div class="stack" ui-view>
        <img class="profile" src="rsc/img/profile.jpg"/>
        <div class="profile profile_list">
            <p> 배경훈 </p>
            <p> <span> 출생 </span> &nbsp 1995년 8월 20일, 대한민국 (22살)</p>
            <p> <span> 학력 </span> &nbsp 성균관대학교 글로벌경영학과 재학 (14학번) </p>
            <p> <span> 활동 </span> &nbsp 전국고등학교경제연합(기획총괄) 2012~2013 </p>
            <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 인액터스 (교육팀장) 2014 ~ 2015 </p>
            <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 스페인 순례길 완주 (800km) 2015 </p>
            <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 프로그래밍 입문 (웹,서버) 2015 ~ 현재 </p>
            <p> <span> 좋아하는 말 </span> &nbsp Argue for your limits, and sure enough, they're yours. </p>
        </div>

    </div>
</section>
