<div class="well" ng-init="getRoute2()">
    <h4> Database practice</h4>
    <form class="r2-form form-inline" method="post" ng-submit="createItem()">
        <input class="inputbox form-control" type="text" ng-model="name" placeholder="이름"/>
        <input class="inputbox form-control" type="text" ng-model="chat" placeholder="메세지"/>
        <button class="btn btn-primary btn-sm"> 입력하기 </button>
    </form>
    <div class="r2_ctn"> Total Count : {{count}} </div>
    <ul class="r2_list">
      <li class="route2Item" ng-repeat="item in items track by $index">{{item.name}}: {{item.content}}</li>
    </ul>
</div>
