<style>
    .formbox {
        display: inline-block;
    }
    .ctn {
        display: inline-block;
        margin-left: 20px;
    }
    li {
        list-style: inside;
    }
</style>

<div class="well" ng-init="getRoute2()">
    <h3> Realtime chatting service</h3>
    <form class="formbox" method="post" ng-submit="getRoute2()">
        <input type="text" ng-model="name" placeholder="이름"/>
        <input type="text" ng-model="chat" placeholder="메세지"/>
        <button class="btn btn-primary btn-xs"> 입력하기 </button>
    </form>
    <div class="ctn"> Total Count : {{results}} </div>
    <ul>
      <li ng-repeat="thing in things track by $index">{{name}}: {{chat}}</li>
    </ul>
</div>
